.header {
  margin-bottom: var(--space-m);
}

@media (max-width: 1400px) {
  .inner {
    padding-inline: var(--space-s);
  }
}

.inner {
  padding-block: var(--space-m);
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.nav ul {
  display: flex;
  gap: var(--space-s);
}

.nav li {
  list-style: none;
}
