@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts.css";

*,
*::before,
*::after {
	box-sizing: border-box;
	min-width: 0;
	min-height: 0;
	transition-timing-function: ease-in-out;
}

html,
body {
	overflow-x: hidden;
	font-size: 16px;
	font-family:
		"Visia Pro",
		system-ui,
		opensans,
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Droid Sans,
		Helvetica Neue,
		sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
}

a {
	color: var(--tw-prose-links);
	text-decoration: underline;
	font-weight: 500;
}

img {
	max-width: 100%;
	height: auto;
}

.no-break {
	break-inside: avoid;
}

label,
button {
	cursor: pointer;
}

input[type="text"],
input[type="email"],
textarea {
	border-radius: 6px;
	color: initial;
}

.arrow,
.arrow-head {
	display: none;
	stroke: var(--tw-prose-links);

	a:hover & {
		&.arrow {
			animation-name: arrow;
		}
		&.arrow-head {
			animation-name: head;
		}
		display: block;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-direction: normal;
		animation-iteration-count: infinite;
		@media (prefers-reduced-motion) {
			animation: none;
		}
	}
}

@keyframes arrow {
	0% {
		transform: scale(0, 1);
	}
	50% {
		transform: scale(1, 1);
	}
}

@keyframes head {
	0% {
		transform: translate(-350px, 0);
	}
	50% {
		transform: translate(0, 0);
	}
}
