@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1400px;
  --link-color: 14 165 233;
  --dark-link-color: 56 189 248;
}

.dark {
  --link-color: var(--dark-link-color);
}

* {
  box-sizing: border-box;
  transition-timing-function: ease-in-out;
}

html,
body {
  overflow-x: hidden;
  font-size: calc(1em + min(calc(1400px / 200), 0.5vw));
  font-family:
    opensans,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

body {
  font-size: var(--step-0);
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--tw-prose-links);
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  filter: brightness(150%);
}

img {
  max-width: 100%;
  height: auto;
}

.no-break {
  break-inside: avoid;
}

label,
button {
  cursor: pointer;
}

@layer components {
  .pill {
    @apply my-2 inline-block rounded-full bg-neutral-200 px-6 pb-2 pt-2.5 text-xs font-medium text-neutral-700 shadow-md dark:bg-neutral-600 dark:text-neutral-200;
  }
}

@media (max-width: 1400px) {
  body {
    padding-inline: var(--space-s);
  }
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: 6px;
  color: initial;
}
