@import "./fonts.css" layer(base);

@import "tailwindcss";

@config "../../tailwind.config.js";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark * ));

@theme {
	--breakpoint-xs: 475px;
	--font-sans: "Visia Pro", system-ui, sans-serif;
	--color-high: #709226;
	--color-medium: #7cca65;
	--color-starter: #2dc2b5;
	--color-blue-green: #1a2e25;
	--animate-arrow: arrow 1s ease-in-out infinite;
	--animate-head: head 1s ease-in-out infinite;

	@keyframes arrow {
		0% {
			transform: scale(0, 1);
		}
		50% {
			transform: scale(1, 1);
		}
	}

	@keyframes head {
		0% {
			transform: translate(-350px, 0);
		}
		50% {
			transform: translate(0, 0);
		}
	}
}
