.hero {
    margin-inline: auto;
    display: grid;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-m);
}

@media (max-width: 950px) {
    .hero {
        grid-template-columns: 1fr;
    }
}

.title {
    text-align: center;
    margin-bottom: var(--space-m);
}
