.posts {
    display: grid;
    --columns: 3;
    --column-width: calc( 100% / var(--columns) );
    grid-template-columns: repeat(var(--columns), var(--column-width) );

    @media screen and (max-width: 900px) {
        --columns: 2;
    }

    @media screen and (max-width: 600px) {
        --columns: 1;
    }
}
